body p {
	color: green;
}

body {
	background-color: #000;
	color: #fff !important;
	font-family: verdana;
}

p > a {
	color: #fff;
}

div {
	margin: 10px 20px;
}

body {
	color: red;
}

p {
	color: blue;
}